---
export const prerender = false;

import FormattedDate from "../components/FormattedDate.astro";
import Layout from "../layouts/Layout.astro";
import { createClient } from "@vercel/kv";
import type { Post } from "./api/cron/aggregate";

const kv = createClient({
  url: import.meta.env.KV_REST_API_URL,
  token: import.meta.env.KV_REST_API_TOKEN,
});

const posts: Post[] | null = await kv.get("posts");
console.log(posts);
---

<Layout title="MonkeyDevs">
  <main class="items-center flex flex-col">
    <div class="max-w-xl w-full">
      <h1 class="self-start mt-12 font-semibold text-xl">
        <span class="font-bold">Content</span> - Articles produced by MonkeyDevs
      </h1>
      <div class="mt-4 flex flex-col gap-3 max-w-xl">
        {
          posts &&
            posts.map((post) => (
              <a
                class="w-full bg-[#2b2b2b] rounded-xl flex flex-col gap-2 p-5"
                href={post.link}
                target="_blank"
              >
                <p class="text-xs font-semibold">
                  <FormattedDate date={new Date(post.date as string)} />
                </p>

                {post.cover ? (
                  <img
                    src={post.cover}
                    alt={`${post.title} cover image`}
                    class="rounded-xl"
                  />
                ) : null}

                <div class="flex flex-col gap-1">
                  <h2 class="font-bold text-xl">{post.title}</h2>
                  <h3 class="text-sm">{post.description}</h3>

                  <div class="flex h-8 gap-2 items-center justify-between">
                    <h4 class="font-semibold">{post.author.name}</h4>
                    <img
                      src={post.author.image}
                      alt={`${post.author.name} avatar`}
                      class="rounded-full w-8 h-8"
                    />
                  </div>
                </div>
              </a>
            ))
        }
      </div>
    </div>
  </main>
</Layout>
